.root {
  /** TODO: per-platform default stylesheets? or is there a way to fallback? */
  -fx-font-family: "Menlo";
  -fx-font-size: 12px;
}

.status {
  -fx-text-fill: white;
  -fx-background-color: black;
}
