/**
 * Styles for text-mode.
 */

.textHeaderFace {
  -fx-fill: #AACCFF;
}

.textSubHeaderFace {
  -fx-fill: #AAFFFF;
}

.textSectionFace {
  -fx-fill: #AA44DD;
  -fx-font-style: italic;
}

.textListFace {
  -fx-fill: #339999;
}
