.root, .tooltip {
  /** TODO: per-platform default stylesheets? or is there a way to fallback? */
  -fx-font-family: "Menlo";
  -fx-font-size: 12px;
  -fx-text-fill: white;
}

.editor, .buffer {
  -fx-background-color: #424242;
}

.modeLine {
  -fx-text-fill: #424242;
  -fx-background-color: #DBDBDB;
  -fx-border-color: #E3E3E3 #A5A5A5 #A5A5A5 #E3E3E3;
}

.overpop, .tooltip {
  -fx-text-fill: white;
  -fx-padding: 5px;
  -fx-background-color: #DBDBDB77;
  -fx-background-radius: 5;
  -fx-border-radius: 5;
  -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 4 , 4 );
}

.tooltip {
  -fx-font-size: 14px;
}

.overpop .status {
  -fx-text-fill: white;
  -fx-font-size: 18px;
}

.overpop .substatus {
  -fx-text-fill: white;
  -fx-font-size: 14px;
}

.editor .status {
  -fx-text-fill: white;
}

.mini {
  -fx-font-size: 15px;
}

.mini .prompt, .status .prompt {
  -fx-text-fill: #00FCFF;
}

.cursor {
  -fx-fill: white;
}

.uncursor {
  -fx-stroke: white;
}

.popwin {
  -fx-border-color: #E3E3E3 #A5A5A5 #A5A5A5 #E3E3E3;
  -fx-background-color: #424242;
  -fx-background-radius: 5;
  -fx-border-radius: 5;
  -fx-border-width: 2;
  -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.errpop {
  -fx-border-color: #FFE3E3 #FFA5A5 #FFA5A5 #FFE3E3;
}

/**
 * Basic text style definitions.
 */

/** Non-semantic faces. */
.boldFace {
  -fx-font-weight: bold;
}

.italicFace {
  -fx-font-style: italic;
}

.underlineFace {
  -fx-underline: true;
}

.strikeFace {
  -fx-strikethrough: true;
}

/** Global semantic faces. */
.textFace {
  -fx-fill: white;
}

.regionFace {
  -fx-fill: #000044;
}

.warnFace {
  -fx-fill: DarkOrange;
  -fx-font-weight: bold;
}

.errorFace {
  -fx-fill: Red;
  -fx-font-weight: bold;
}

.matchFace {
  -fx-bg-stroke: Red !important;
}

.activeMatchFace {
  -fx-fill: White !important;
  -fx-bg-fill: Red !important;
  -fx-bg-stroke: White !important;
}

/** TODO: from emacs
 '(link ((t (:underline t :foreground "#7CF"))))
 '(link-visited ((t (:underline t :foreground "#36A"))))
*/
